DATABASE_URL="postgresql://user:password@host:5432/database"
HOST="0.0.0.0"
PORT="8080"
OBJECT_STORAGE_ACCESS_KEY_ID=""
OBJECT_STORAGE_SECRET_ACCESS_KEY=""
OBJECT_STORAGE_BUCKET=""
OBJECT_STORAGE_PREFIX=""
OBJECT_STORAGE_ENDPOINT=""
OBJECT_STORAGE_REGION="auto"
OBJECT_STORAGE_FORCE_PATH_STYLE="true"
